.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
// injector
@import 'css/welcome.scss';
// endinjector

@import '/bower_components/select2/select2.css';
@import '/bower_components/selectize/dist/css/selectize.css';